.aboutBody
  // font-size: 1vw
  background-color: pink
  padding: 0
  h3
    font-size: 3vw
    font-family: 'Unica One', cursive
  .message
    padding: 10em

.profilePic
  position: relative
  height: 73.5vh
  
// .link
//   color: black
//   text-decoration: none
//   .menuIcons
//     background-color: grey
//     margin: 2vh 0

// .link:hover .menuIcons
//   background-color: pink