.aboutBody
  background-color: pink
  h3
    font-size: 4vw
    font-family: 'Unica One', cursive
  .message
    padding: 8%
    background-color: inherit

.profilePic
  width: 100%
  
.home-content
  margin-bottom: -1%