.brand-logo
  font-size: 6em
  color: pink
  margin: 4vh 0
  font-family: 'Unica One', cursive

.link:hover 
  text-decoration: none

.nav-item p
  font-size: 2em
  color: grey
  text-decoration: none

  // .link
//   color: black
//   text-decoration: none
//   .menuIcons
//     background-color: grey
//     margin: 2vh 0

// .link:hover .menuIcons
//   background-color: pink